*{
margin:0;
padding:0;
}

#main{
max-width:1280px;
min-height:100%;
margin:0 auto;
position:relative;
}
 
footer{
background:#ccc;
position:fixed;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #111;
}

footer{
    background-color: black;
}


.clearfix {
  overflow: auto;
}

h1{
    text-align: center;
    padding-left: 0px;
}

.membres{
    color: white;
}


#listeUsr{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:2%;
    padding-bottom:5%;
}

.navbar{
    margin-bottom:0;
}

.thomas{
    padding:5%;
    border-right:none;
}


article{
    position:relative;
}

.jambon{
    background-color: #333;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:15%;
    padding-bottom:25%;

}

.pizza{
    width: 211px;
    height: 233px;
    float:left;
    border: 10px solid #bbb;
}

.jako{
    color:white;
    float:left;
    font-size:36px;
}

*{
    margin:0;
    padding:0;
}

body, html{height:100%;}
body{
    margin:0;
    text-align:center;
}

#main{
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #C0C0C0
}


header {
    background-color: #C0C0C0;
    text-align: left;
    font-size: 5em;
    background-size: 100% 100%;
    margin: 0;
    padding: 0% 0% 4% 0%;
}


.clearfix {
    overflow: auto;
}

h1{
    margin:0;
    text-align: center;
    font-family: cursive;
    font-size: 1.2em;

}

a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: #808080;
}

.jambonfume{
    background-color: #333;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:5%;
    padding-bottom:5%;

}

.afro{
    width: 500px;
    height: 500px;
    float:left;
    border: 10px solid #bbb;
}

.titreGroupe{
    text-align: center;
    margin: auto;
    font-size:18px;
}

.descr{
    text-align: center;
    margin: auto;
    font-size:12px;
    font-weight: bold;
}